.no-recipes-message {
    color: black;
    text-align: center;
}

body {
    background-image: url('/images/wallpaper.jpeg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


.title {
    color: #fff;
    text-shadow: 
        -.5px -.5px 0 #000,  
        .5px -.5px 0 #000,
        -.5px .5px 0 #000,
        .5px .5px 0 #000; 
}

