.recipeImage {
    max-width: 100% !important;
    height: auto !important;
    border: 1px solid #ccc !important;
    border-radius: 8px !important;
}
body {
    background-image: url('/images/detailedRecipeBakcground.jpeg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.myBackground {
    background-color: #dbfeb8;
    border-radius: 1%;
}