body {
    font-family: 'Arial', sans-serif; 
    font-weight: normal; 
    color: #000; 
    background-image: url('/images/brooke-lark-jUPOXXRNdcA-unsplash.jpg'); 
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}
h1 {
    color: black; /* Change text color to black */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(5px); 
    max-width: 80%;
    display: inline-block;
    margin: 0 auto;
}
.no-recipes-message {
color: white; 
text-align: center;
}