@page "/aboutUs"

<div style="height: 0.5in;"></div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h1><span>Pushin' P<span class="fs-6">antry</span></span></h1>
            <div class="container ms-2">
                <p>Our project is blah blah blah...</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>The Developers:</h3>
            <div class="container ms-2">
                <p>Lillian Beck</p>
                <p>Ethan Lancaster</p>
                <p>Noah Bourque</p>
                <p>Chris Booras</p>
                <p>Alex Brodsky</p>
            </div>
        </div>
    </div>
</div>