@page "/"

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link href="css/home.css" rel="stylesheet" />

<head>
    <title>Pushin' P(antry)</title>
</head>
<body>

<div class="navbar">
    <div class="navbar-logo">
        <img src="/favicon.png" alt="Logo" style="height: 50px;"> <!-- Update with your logo path -->
        <span>Pushin' P(antry)</span> <!-- Your website name here -->
    </div>

    <div class="navbar-links">
        <a href="#home">Home</a>
        <a href="#recipes">Recipes Search</a>
        <a href="#about">About Us</a>
    </div>

</div>

<div id="home" class="homepage" style="color: black; font-family: Georgia, sans-serif; text-align: center;">
    <div class="container">
        <h1 style="font-size: 56px; font-weight: bold;">Welcome to Pushin' P(antry)!</h1>
        <p style="font-size: 30px; font-weight: bold;">Find the Recipe for Success in your Pantry!</p>
    </div>
</div>

<div id="recipes" class="recipes-page">
    <div class="container">
        <h1>Search for Recipes</h1>
        <p>Click <a href="/recipeSearch" target="_blank" class="recipes-link">here</a> to search for recipes.</p>
    </div>
</div>

<div id="about" class="about-page" style="color: white; font-weight: bold; font-family: Arial, sans-serif; text-align: right;">
    <div class="container">
        <h1>The Developers</h1>
        <p>Lillian Beck - Computer Science Student</p>
        <p>Ethan Lancaster - Computer Science Student</p>
        <p>Noah Bourque - Computer Science Student</p>
        <p>Chris Booras - Computer Science Student</p>
        <p>Alex Brodsky - Computer Science Student</p>
    </div>
</div>

</body>

