@page "/"

@layout MainLayout

<link href="css/HomePage.css" rel="stylesheet" />



<div style="height: 2in;"></div>
<div class="container">
    <div class="row justify-content-center">
        <h1 class="title">Discover Delicious Recipes!</h1>
        
        
        <div class="button-container">
            <NavLink class="nav-link" href="allRecipes">
                <button class="btn custom-btn">View all Recipes!</button>
            </NavLink>
            <NavLink class="nav-link" href="recipeSearch">
                <button class="btn custom-btn">Search for Recipes!</button>
            </NavLink>
            <NavLink class="nav-link" href="ingredientSearch">
                <button class="btn custom-btn">Input Ingredients!</button>
            </NavLink>
        </div>
    </div>
</div>
