@page "/"

<PageTitle>Home</PageTitle>

<header>
    <nav>
        <div class="logo">
            <img src="Pushin-P(antry)-logo.png" alt="Pushin' P(antry) Logo">
            <span>Pushin' P(antry)</span>
        </div>
        <ul class="navigation">
            <li><a href="#how-it-works">How It Works</a></li>
            <li><a href="#explore-recipes">Explore Recipes</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="hero">
        <h1>Welcome to Your Digital Pantry!</h1>
        <p>Enter the ingredients you have and let's find something delicious for you to cook.</p>
        <form method="post" action="FindRecipes">
            <input type="text" id="ingredientInput" name="ingredients" placeholder="Enter ingredients..." autofocus>
            <button type="submit">Find Recipes</button>
        </form>
    </section>
</main>
