@page "/homePage"

@layout NavBar

<link rel="stylesheet" href="Recipe_Proj/Layout/NavBar.razor.css" />

<body>
    <div style="height: 0.5in;"></div>
    
    <h1 class="text-center text-primary my-4">Discover Delicious Recipes!</h1>
    
    <div style="height: 0.5in;"></div>
    
    <div class="container mt-4">
        <div class="row justify-content-evenly">
            <div class="col-auto">
                <button class="btn btn-primary">Search for Recipes!</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-success">Input Ingredients!</button>
            </div>
        </div>
    </div>
</body>