<style>
    .navbar .nav-link.active {
        color: white !important; /* Lights up active page link in blue */
        text-shadow: 
            -.5px -.5px 0 #000,  
            .5px -.5px 0 #000,
            -.5px .5px 0 #000,
            .5px .5px 0 #000; /* Black border effect */
    }
</style>



<nav class="navbar navbar-expand-md navbar-light bg-success fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="favicon_transparent.png" alt="" width="32" height="32">
            <span>Pushin' P<span class="fs-6">antry</span></span>
        </a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="allRecipes">
                        <span class="oi oi-plus" aria-hidden="true"></span> All Recipes
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="recipeSearch">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Recipe Search
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="ingredientSearch">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Ingredients Search
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="aboutUs">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> About Us
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>


@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}