/* .navbar {
    color: black !important;
}

.navbar-brand {
    border: 1px solid grey !important;
    /* Light grey border around the navbar brand 
    padding: 5px !important;
    border-radius: 5px !important;
}

.navbar-brand img {
    margin-right: 5px !important;
}

.navbar-toggler {
    background-color: lightgrey !important;
    /* Light grey background for the toggle button 
    border: 1px solid #333 !important;
    /* Dark thin border 
}

.navbar .nav-link {
    border: 1px solid grey !important;
    /* Light grey border around each link 
    margin: 2px 0 !important;
    /* Adds a slight vertical margin between items 
    border-radius: 5px !important;
    /* Rounded corners for links 
}

html .navbar__nav-link--active {
    color: var(--bs-primary) !important;
    /* Lights up active page link in blue 
    background-color: #f8f9fa !important;
    /* Slightly different background for active link 
} */