{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "server=$IPADDRESS;port=3306;database=recipeDB;user=recipeAdmin;password=admin123"
  }
}
